/* Cores
#fec63e AMARELO
*/

/* Estilos Gerais */

body{
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
}

img{
  display: block;
  max-width: 100%;
}

.btn{
  border: 3px solid #fec63e;
  padding: 20px;
  color: #fec63e;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
}

.btn:hover{
  color: white;
  border-color: white;
}

.btn.btn-preto:hover{
  color: #000;
  border-color: #000;

}
.subtitulo{ 
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: .1em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subtitulo::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: black;
  margin: 8px auto;
}

.subtitulo_interno{ 
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: .1em;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitulo_interno::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: black;
  margin: 8px 0;
}

/* Header */

.header {
  z-index: 10; /* deixar fixo na tela IMPORTANTE*/
  position: fixed;
  top: 0;
  width: 100%;
  background: #fec63e;
  padding: 15px 0px;
}
.header_menu{
  text-align: right;
}
.header_menu ul li{
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header_menu ul li a{
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}

.header_menu ul li a:hover{
  color: white;
}

.header_menu ul li a.menu_ativo{
  color: white;
}

/* Introdução */

.introducao{
  width: 100%;
  height: 380px;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover; /* imagem cobre todo o fundo*/
  margin-top: 92px;
  text-align: center;
  padding-top: 80px;
}

.introducao h1 {
  font-size: 48px;
  color: white;
  font-weight: bold; /* Definir estilo da LETRA- EX: (bold = negrito)*/
  text-transform: uppercase; /* Definir tamanho da LETRA- EX: (Uppercase = Letras maiuscula)*/
}

.quote-externo{
  max-width: 320px;
  margin: 0 auto;
  color: white;
  margin-bottom: 40px;
}

.quote-externo p {
  font-style: italic;
}
.quote-externo p::before, .quote-externo p::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: white;
  margin: 10px auto;
}

.quote-externo cite{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
}

/* Introdução interna */

.introducao_interna{
  width: 100%;
  margin-top: 92px;
  height: 160px;
  text-align: center;
  color: white;
  padding-top: 30px;
}

.introducao_interna h1 {
  font-size: 36px;
  font-weight: bold; /* Definir estilo da LETRA- EX: (bold = negrito)*/
  text-transform: uppercase; /* Definir tamanho da LETRA- EX: (Uppercase = Letras maiuscula)*/
}

.introducao_interna h1::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: white;
  margin: 6px auto 10px auto;

}

/* FECHA Introdução interna */


/* Produtos */

.produtos {
  padding: 60px 0;
}
.produtos_lista li{
  background: #fec63e;
  text-align: center;
}

.produtos_lista li h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 20px;
}

.produtos_lista li h3::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: black;
  margin: 2px auto;
}
.produtos_lista li p{
  padding: 10px 20px 20px 20px;
}

.produtos_icone {
  background: #000;
  padding: 50px;

}

.call{
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.call p{
  margin-bottom: 40px;
}

/* Portfólio */

.portfolio{
  width: 100%;
  background: #000;
  padding: 40px;
}

.portfolio .subtitulo{
  color:  #fec63e;
}
.portfolio .subtitulo::after{
  background: #fec63e;
}

.portfolio_lista li:last-child{
  margin-top: 20px;
}
.portfolio .call p{
  color: white;
}

/* Qualidade */

.qualidade{
  padding: 60px 0;
}

.qualidade::after{
  content: "";
  width: 634px;
  height: 83px;
  display: block;
  background: url("../img/linhas.svg") no-repeat center;
  position: absolute;
  top: 209px;
  right: 162px;
  z-index: -1px;
}

.qualidade img{
  margin: 0 auto;
}

.qualidade_lista{
  padding-top: 20px;
  overflow: hidden;
}

.qualidade_lista li{
  text-align: center;
  padding: 0 40px;
}

.qualidade_lista li h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 20px;
}

.qualidade_lista li p{
  margin-top: 15px;
}

.qualidade_lista li h3::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: black;
  margin: 2px auto;
}
/* FECHA QUALIDADE */

/* QUEBRA */
.quebra{
  width: 100%;
  height: 220px;
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}

.quebra .quote-externo{
  max-width: 400px;
}
/*FECHA QUEBRA */

/* FOOTER */
.footer{
  width: 100%;
  background: #000;
  color: white;
  padding: 20px;
}

.footer h3{
  font-size: 18px;
  line-height: 25px;
  color: #fec63e;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}

.footer h3::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
  margin: 6px 0 12px 0;
}

.footer_historia{
  padding-right: 40px;
}

.footer_contato ul li{
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer_rede ul li{
  display: inline-block;
  margin-right: 10px;
}

.footer_rede ul li a{
  border: 3px solid #fec63e;
  padding: 6px;
  display: block;
}

.footer_rede ul li a:hover{
  border-color: white;
}

.copy{
  width: 100%;
  background: #fec63e;
  padding: 20px 0;
}
/* JavaScript */

.js [data-slide] {
  position: relative;
}

.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}

.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
}

.js [data-slide-nav] {
	display: block;
	text-align: center;
	margin-top: 20px;
}

.js [data-slide-nav] button {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 4px;
	border: none;
	padding: 0px;
	border-radius: 6px;
	text-indent: -99px;
	overflow: hidden;
	background: #1d1d1d;
}

.js [data-slide-nav] button.active {
	background: #fec63e;
}

.js [data-anime] {
	opacity: 0;
}

.js .fadeInDown {
	transform: translate3d(0, -20px, 0);
}

.js .anime {
	opacity: 1;
	transform: none;
	transition: opacity 800ms, transform 800ms;
}
